<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title>Veevart Collection App</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
      <link rel="manifest" href="/img/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <script src="//unpkg.com/react@15.3.2/dist/react.js"></script>
      <script src="//unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
      <script src="//unpkg.com/babel-core@5.8.38/browser.min.js"></script>
      <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" href="/css/vendor/normalize.css" />
      <link rel="stylesheet" href="/css/vendor/foundation.css" />
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link href="/css/login.css" rel="stylesheet" type="text/css">
      <link href="/react-datepicker/dist/react-datepicker.min.css" rel="stylesheet" type="text/css">
      <script src="/js/vendor/modernizr.js"></script>
   </head>
   <body>
      <main id="app"></main>
      <div id="spinner">
         <img src="/img/spinner.gif">
      </div>
      <script src="/js/vendor/jquery.js"></script>
      <script src="/webshim/src/polyfiller.js"></script>
      <script>
         webshim.activeLang('en');
         webshims.polyfill('forms');
         webshims.cfg.no$Switch = true;
         function initMap() {}
      </script>
      <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCcJsMbAdKWQJTx-ALQ96UIBJHOnJ-oNh8&libraries=drawing&callback=initMap" async defer></script>
      <script src="/js/vendor/notify.min.js"></script>
      <script src="/js/client.min.js"></script>
   </body>
</html>